* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
div#app {
    height: 100%;
}

.mr-5p {
    margin-right: 5px;
}

.ml-5p {
    margin-left: 5px;
}


.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}
