@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.rs__notes-wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.rs__conte-wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
    position: relative;
}

.rs__notes-toolbar {
    background: #6528f7;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rs__notes-title {
    width: 30%;
    min-width: 180px;
    max-width: 400px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rs__actions-icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;

    .rs__actions-icon {
        display: flex;
        justify-content: center;
    }
}

.rs__justify-end {
    justify-content: flex-end;
}

.rs__notes-divider {
    margin: 10px 0;
}

.rs__content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;

    .rs__notes-sidebar {
        width: 30%;
        min-width: 180px;
        max-width: 400px;
        height: 100%;
        border-right: 1px solid #ddd;
        padding: 15px;
        overflow-y: auto;
        background-color: #eee;

        .rs__sidebar-title {
            display: flex;
            justify-content: start;
            align-items: center;
        }

        .rs__note-list {
            list-style: none;
            margin-bottom: 10px;

            li {
                padding: 5px;
                display: flex;
                justify-content: space-between;

                &:hover {
                    .icon {
                        visibility: visible;
                    }
                }
            }
        }
    }

    .rs__notes-content {
        width: 100%;
        height: 100%;
        padding: 15px;

        .rs__note-form {
            width: 100%;
            height: 100%;

            .rs__input-title {
                width: 100%;
                padding: 5px 10px;
                border: 1px solid #ddd;
                outline: none;
            }

            .rs__content-editable {
                width: 100%;
                height: calc(100% - 90px);
                border: 1px solid #ddd;
                margin: 10px 0;
                outline: none;
                padding: 10px;
            }

            .rs__form-btn-save {
                display: flex;
                align-items: center;
                padding: 5px 10px;
                border: none;
                box-shadow: 0 0 2px 0 #6528f7;
                cursor: pointer;
                color: #fff;
                background-color: #6528f7;

                &:hover {
                    box-shadow: 0 0 3px 1px #6528f7;
                }
            }
        }
    }
}
